<%= link_to "Discover", '/users/discover' %>

<% if params[:query] %>
  <h1>Search Results</h1>
<% else %>
  <h1>Top Rated Movies</h1>
<% end %>
    

  <% @movies.each_with_index do |movie, index| %>
    <div id=<%="movie-#{index}"%>>
      <%= link_to movie.title, "/movies/#{movie.id}" %>
      Average Rating: <%= movie.vote_average %>
    </div>
  <% end %>

